body {
  margin: 0;
  background-color: #F8FAFD; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width for both vertical and horizontal scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track for both vertical and horizontal scrollbar */
::-webkit-scrollbar-track {
  background: #E1EBF0;
  border-radius: 5px;
}

/* Handle for vertical scrollbar */
::-webkit-scrollbar-thumb {
  background: #2C8EFF;
  border-radius: 5px;
}

/* Handle for horizontal scrollbar */
::-webkit-scrollbar-thumb:horizontal {
  background: #2C8EFF;
  border-radius: 5px;
}

/* Handle on hover for both vertical and horizontal scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #58a3f9;
}

/* Handle on hover for horizontal scrollbar */
::-webkit-scrollbar-thumb:horizontal:hover {
  background: rgb(122, 183, 254);
}


@tailwind base;
@tailwind components;
@tailwind utilities;
iframe#webpack-dev-server-client-overlay{display:none!important}
